#root{
  width: 100vw;
  height: 100vh;
}
.container-fluid {
  width: 100vw;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9faff;
  color: #111;
  height: 100vh;
}
.search .form-control {
  width: 400px;
  text-align: center;
  background-color: #f9faff;
}
